<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Error type: ' + ${type}"/>
<p th:text="'Description: ' + ${description}"/>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://carcassonne-alpine-meadows.herokuapp.com/sign_up.html"> Sign up </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://carcassonne-alpine-meadows.herokuapp.com/sign_in.html"> Sign in </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://carcassonne-alpine-meadows.herokuapp.com/reset.html"> Reset password </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://carcassonne-alpine-meadows.herokuapp.com/send_email.html"> I don't receive a letter</a>
</p>
</body>
</html>